* {
    margin: 0;
    padding: 0;
    font-family: 'Crete Round', serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;
    color: rgb(15, 187, 235);
    font-size:20px;
    box-sizing: border-box;
}
/* navbar */
#search-bar{
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1.3rem;
    width: 10rem;
    text-align: center;

}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
display: flex;
justify-content: space-between;
transition: 0.6s;

}

header .sticky{
    padding: 5px 100px;
}

.header1{
    
 display: flex;
 align-items: center;
 margin-left: 20px;
 font-size: 25px ;
 cursor: pointer;
}
.header2{
    
    display: flex;
    align-items: center;
    margin-left: -25%;
}
.header3{
    display: flex;
    justify-content: space-around;
    
    width: 30%;
    align-items: center;
    cursor: pointer;
}
.header4{
    display: flex;
    align-items: center;
    margin-right: 4%;
}
/* slider section */
.box {
    /* margin-top: 2rem; */
     width: 100vw;
     height: 100vh;
     background-position: center;
     background-size: cover;
     display: table;
     background-attachment: fixed;
 }
 
 .box:nth-child(1) {
     background-image: url("../wallpaper/landing.jpg");
     background-position: relative;
     background-size: cover;
 }
 
 .box:nth-child(2) {
     background-image: url("../wallpaper/landing1.jpg");
 
     background-size: cover;
 }
 
 .box:nth-child(3) {
     background-image: url("../wallpaper/landing3.jpg");
 
     background-size: cover;
 }
 
 .box:nth-child(4) {
     background-image: url("../wallpaper/landng4.jpg");
 
     background-size: cover;
 }
 
 .box:nth-child(5) {
     background-image: url("../wallpaper/landing5.jpg");
     background-position-y: top;
 }
 
 .box:nth-child(6) {
     background-image: url("../wallpaper/landing6.jpg");
     background-position-y: top;
 
 }
 
 .box:nth-child(7) {
 
     background-image: url("../wallpaper/landing7.jpg");
 
     background-position-y: top;
 }
 /* sidebar */
 .sidebar {
    top: 0;
    z-index: 100;
    transition: all 0.5s ease;
    margin-top: 108px;
    position: fixed;
    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;
    transition: 1.5s ease;
    overflow: scroll;

}

.sidebar.show {
    left: 0px;
    visibility: visible;
    opacity: 0.8;

}

.sidebar .text {
    color: black;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
}

/* a {
    color: #000000;
    user-select: none;
    
    text-transform: uppercase;
    text-decoration: none;
    font-family: Neue-Helvetica, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 8px;
    line-height: 26px;
    font-stretch: semi-condensed;
} */

nav ul li {
    line-height: 20px;
}

nav ul li a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding-left: 40px;
    display: block;
    width: 100%;

}

nav ul ul {
    position: static;
    display: none;
}

nav ul ul ul {
    display: block;
}

nav ul .feat-show.show {
    display: block;
}

nav ul .serv-show.show1 {
    display: block;
}

nav ul ul li {
    line-height: 42px;

}

nav ul ul li a {
    font-size: 15px;
    color: black;

    padding-left: 70px;
}