*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body{
    width:100%;
    height: 100vh;
}
.front{
    
    background-image: url("./wallpaper/landing.jpg");  
   background-size: 100% 100%;   
   width: 99%;
   height: 100%;
   animation: slider 30s  infinite linear;

}
@keyframes slider {
  0%{
    background-image: url("./wallpaper/landing.jpg");  
  } 
  20%{
    background-image: url("./wallpaper/landing1.jpg");  
  } 
  40%{
    background-image: url("./wallpaper/landing2.jpg");  
  }60%{
    background-image: url("./wallpaper/landing3.jpg");  
  }
  80%{
    background-image: url("./wallpaper/landing5.jpg");  
  }
  100%{
    background-image: url("./wallpaper/landing6.jpg"); 
  }
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid red;
}
.logo{

}
.section{
  display: flex;
  justify-content: space-around;
  border: 2px solid green;
  width: 50%;
  height: 20%;
  
}