header{
    padding: 12px 20px;
    display: flex;
    position: fixed;
    width: 100%;
    display: flex;
}
.fa-bars{
    font-size: 25px;
}
.logo{
    max-width: 100%;
    height: auto;
    margin-left: 4%;
    margin-top: -55px;
    /* padding-left: 15%; */
}
.rightnavlogin{
    margin-top: -16px;
    display: flex;
    /* padding-left: 20%; */
    position: fixed;
    right: 0;
    
    
}


a {
    
    color:black;
    user-select: none;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Neue-Helvetica, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    font-stretch: semi-condensed;
    margin-right: 20px;
}

.container{
    padding-top: 100px;
    
}

.centerimg{
    
        max-width: 100%;
        max-height: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    
}

.img1{
    
    margin: auto;
    margin-top: 8%;
    width: 400px;
}

.cat, .price, .new{
    margin: 4px;
    margin-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-stretch: semi-condensed;
    
}


.containerprod2{
    display: flex;
    width: 850px;
    margin: auto;
    margin-top: 8%;
    
}

.containerprod3{
    display: flex;
    width: 800px;
    margin: auto;
    margin-top: 8%;
    
}

.containerprod3 .img1{
    
    margin-left: 15px;
    
}
